# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json

# Docker
.dockerignore
docker-compose.yml

# VS Code
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints

# Data (NEVER commit large data files)
data/

# Environment variables
.env

# Ignore the large synthesized dataset
data_synthesis/output/
data_synthesis/background_images/
data_synthesis/model_1_data/