# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json

# Docker
.dockerignore
# docker-compose.yml

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints

# Data (NEVER commit large data files)
data/
production/data/

# Models (NEVER commit large weight files)
*.pth
models/
production/models/
data_synthesis/model_1_data/models/

# Environment variables
.env

# Synthesis outputs
data_synthesis/output/
model_epoch_test_images/